@CHARSET "UTF-8";

* {
	border: 1px solid red;
}
body {
	background : #e0ffff;
	font-family: Verdana, Geneva, Arial, sans-serif;
 	font-size: small;
 	text-align: center;
 	margin: 0 200px 400px 200px;
 	width: 800px; 
}

h1 {
	color: #4169e1;
	font-size: 3em;
}


fieldset {
      border: 0;
    }
label {
      display: block;
      margin: 0 0 0 0;
      font-size: 2em;
      color: blue;
    }
select#movie {
      width: 300px;
      background-color: #565CAA;
      color: whitesmoke;
      height: 50px;
      font-size: 30px;
      text-align: center;
    }
    
button {
	width: 100px;
	height: 40px;
	background-color: rgb(102, 102, 207);
	font-size: 18px;
	color: whitesmoke;
}    

img {
	display: inline-flex;
	width: 250px;
	height: 350px;
}


span {
	font-size: 17px;
	background-color: white;
	color: black;
	padding: 10px 255px 10px 255px;
	text-align: center;
	display: inline-flex;
	
}

div {
	background-color: white;
	padding: 10px 0 10px 0;
}
#content {
	background-color: white;
	
	/* width: 400px; 
	height: 600px; 
	margin: 0 auto;
	position: absolute; 
	display: block;  */
	
}
/* .overflow {
      height: 200px;
    } */

/*
#category {
  position: absolute;
  padding: 0px 0px 0px 0px;
  top: 125px;
  left: 200px;


}

#content img {
  padding-bottom: 10px;
  position: absolute; 
  text-align: center;
  background-color: #6fb26f;  
   top: 200px; 
  left: 200px;
  width: 615px;
  height: 380px;  
 padding: 10px; 
}

#content a {
  display: block;
  float: center;
  height: 0;
  margin: 0 0 10px 0; 
  overflow: hidden; 
  padding: 140px 0 0 0; 
  width: 155px;
  z-index: 200; 

}


#content a#mp1 {
  background: url('mp1.jpg') no-repeat;
}
#content a#mp1.active {
  background: url('ready.jpg') no-repeat;
}
#content a#mp2 {
  background: url('mp2.jpg') no-repeat;
}
 top: 151px;
  left: 30px;
  width: 155px; 
#content a#mp2.active {
  background: url('ready.jpg') no-repeat;
}
#content a#mp3 {
  background: url('mp3.jpg') no-repeat;
}
#content a#mp3.active {
  background: url('ready.jpg') no-repeat;
} 


#footer {
	clear:left; 
	text-align: center;
	position: relative;
}*/